[defaults]
inventory = inventory.yml
collections_path = .collections
host_key_checking = True
interpreter_python = /usr/bin/python3
retry_files_enabled = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o BatchMode=yes -o StrictHostKeyChecking=yes
